header {
  width: 100%;
  /* position: fixed; */
  /* z-index: 9999; */
}

.marginImage {
  margin-left: 80px;
  width: 150px;
}

.login {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: "translate(-50%,-50%)";
}

.title {
  margin-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .marginImage {
    margin-left: 0px;
  }

  .login {
    position: absolute;
    top: 25%;
    left: 1%;
    transform: "translate(-50%,-50%)";
  }

  .verticalLine {
    padding: none;
  }

  .title {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .marginImage {
    margin-left: 0px;
    width: 65px;
    height: 50px;
  }

  .login {
    position: absolute;
    top: 20%;
    left: 1%;
    transform: "translate(-50%,-50%)";
    font-size: 12px;
    width: 61px;
  }
  .title {
    margin-left: 0px;
    font-size: 17px;
    margin-top: 15px;
  }
}
